<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem 
        id="toko_menu_root" 
        name="Warung Farrel" 
        sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem 
        id="toko_kategori_menu_categ" 
        name="Kategori" 
        parent="toko_menu_root" 
        sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem 
        id="toko_pemesanan_menu_categ" 
        name="Pemesanan" 
        parent="toko_menu_root" 
        sequence="20"/>

</odoo>
